@import "../abstracts/mixins";

.activities-main-container {
  .activity-card {
    @include card;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    border: 4px solid var(--border-color);
    transition: all 0.02s ease-in-out;
    &:hover {
      background: var(--accent-hover);
    }
    .text {
      p {
        display: flex;
        flex-wrap: wrap;
        gap: unitize(8);
        font-size: unitize(16);
        margin-top: unitize(16);
      }
    }
  }
}



// landscape phone viewport and up
@media screen and (min-width: $phoneWidthLandscape) {
  .activities-main-container {
    .activity-card {
      flex-direction: row;
      gap : unitize(16);
    }
  }
}

// tablet viewport and up
@media screen and (min-width: $tabletWidthPortrait) {

}

// tablet landscape viewport and up
@media screen and (min-width: $tabletWidthLandscape) {
  .activities-main-container {
    width: 75%;
  }
}

// desktop viewport and up
@media screen and (min-width: $desktopWidth) {
  .activities-main-container {
    width: 50%;
  }
}

