@import "../abstracts/mixins";

.activities-main-container {
  .activity-card {
    @include card;
    background: var(--card-bg-color);
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    &:hover {
      scale: 1.06 1.3;
      border: 4px solid var(--border-color);
    }
    &:hover img {
      scale: .9 .83;
    }
    img {
      transition: all 0.2s ease-in-out;
    }
    .text {
      p {
        display: flex;
        flex-wrap: wrap;
        gap: unitize(8);
        font-size: unitize(16);
        margin-top: unitize(16);
      }
    }
  }
}



// landscape phone viewport and up
@media screen and (min-width: $phoneWidthLandscape) {
  .activities-main-container {
    .activity-card {
      flex-direction: row;
      gap : unitize(16);
    }
  }
}

// tablet viewport and up
@media screen and (min-width: $tabletWidthPortrait) {

}

// tablet landscape viewport and up
@media screen and (min-width: $tabletWidthLandscape) {
  .activities-main-container {
    width: 75%;
  }
}

// desktop viewport and up
@media screen and (min-width: $desktopWidth) {
  .activities-main-container {
    width: 50%;
  }
}

