<div class="row">
  <div class="col">
    <div class="tweet-card">
      <h1 class="display-2 text-danger">Gabblers</h1>
      <hr class="my-3">
      <div class="d-flex justify-content-around gap-3 mb-4 ">
        <%= link_to "all", gabblers_path, class: "btn btn-primary btn-lg" %>
        <%= link_to "following", gabblers_path(type: "following"), class: "btn btn-primary btn-lg" %>
        <%= link_to "followers", gabblers_path(type: "followers"), class: "btn btn-primary btn-lg" %>
      </div>
    </div>
  </div>
</div>

<div class="container users-container my-3 tweet-card">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
    <%= render @users %>
  </div>
</div>