// breakpoint variables
$phoneWidthLandscape: 30em; // 480px
$tabletWidthPortrait: 48em; // 768px
$tabletWidthLandscape: 64em; // 1024px
$desktopWidth: 75em; // 1200px
$largeDesktopWidth: 90em; // 1440px
// breakpoint variables end

// font-size variables
$base-font-size: 16;