/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// import bootstrap
@import "bootstrap";

// import 7-1 pattern files start

// import abstracts files
@import "abstracts/_variables";
@import "abstracts/_mixins";
@import "abstracts/_functions";

// import base files
@import "base/_reset";
@import "base/_typography";

// import components files
@import "components/_buttons";
@import "components/_carousel";
@import "components/_cover";
@import "components/_dropdown";
@import "components/_forms";
@import "components/_grid";
@import "components/_jumbotron";
@import "components/_list-group";
@import "components/_media";
@import "components/_modals";
@import "components/_navbar";
@import "components/_navs";
@import "components/_pagination";
@import "components/_progress";
@import "components/_tables";
@import "components/_tooltip";

// import layout files
@import "layout/_header";
@import "layout/_footer";

// import pages files
@import "pages/_home";
@import "pages/_users";

// import themes files
@import "themes/_theme";

// import vendors files
@import "vendors/*";


// import 7-1 pattern files end

// import font-awesome
@import "font-awesome";


