<!-- Footer Section Start -->

<footer class="footer-section mt-5 mb-3">
    <div class="container">
        <div class="row mx-auto">
            <div class="col-md-4">
                <div class="footer-widget about-widget">
                    <h2>GabWhat?!</h2>
                    <p class="lead">
                      Gabble is a platform where you can share your thoughts and ideas with the world.
                      It is a platform where you can express yourself freely and without any fear of being judged.
                      It is a platform where you can be yourself.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-widget about-widget">
                    <h2>Contact</h2>
                    <ul class="list-group">
                        <li class="list-group-item bg-transparent footer-list"><i class="fa fa-map-marker me-1"></i>Düsseldorf Germany</li>
                        <li class="list-group-item bg-transparent footer-list"><i class="fa fa-phone me-1"></i>+49 000 0000 0000</li>
                        <li class="list-group-item bg-transparent footer-list"><i class="fa fa-envelope me-1"></i>
                            <a class="nav-link d-inline m-0" href="mailto:info@geekbunnylab.com">
                              info@geekbunnylab.com
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-widget contact-widget">
                    <h2>Subscribe</h2>
                    <p>Subscribe to our newsletter and receive the latest news about our promotions and discounts.</p>
                    <form action="#" class="subscribe-form">
                        <input type="text" placeholder="Enter your e-mail">
                        <button class="btn btn-common">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright section start -->
      <div class="copyright my-4">
          <div class="container">
              <div class="row">
                  <div class="col-12">
                      <div class="text-center text-white">
                        <div class="footer-logo">
                              <%= link_to  root_path, class: "nav-link" do %>
                                <%= image_tag("logo-light.svg", alt: "logo", class: "img-fluid w-25", title:"Gabble Logo") %>
                              <% end %>
                        </div>
                        <p class="copyright-text">
                          &copy; 2023 Gabble. All Rights Reserved. Design by <a class="footer-list nav-link d-inline" href="https://www.linkedin.com/in/amermmohammed" target="_blank">Amer Malik Mohammed</a>
                        </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    <!-- copyright section End -->
</footer>

<!-- Footer Section End -->